*{
    font-family: Helvetica, sans-serif;
}
h1{
    color: brown;
}
h3{
    color:rgb(8, 69, 5);
}
#login{
    background-color:white;
}
#signup{
    background-color: brown;
    color:white;
}
.upvote{
    background-color: cadetblue;
    color:aliceblue;
}
/* Decendent selector */
.post a{
    color:rgb(229, 20, 166);
}
nav  a{
    color:chocolate;
}

/* combinator*/
p + h3{
    text-decoration:underline;
}
.upvote + button{
    background-color: cadetblue;
}
/* child combinator*/
div >input{
    background-color: aquamarine;
}
/*atribute selector*/
input[type="text"]{
    color:blueviolet
}
input[type="password"]{
    color: blue;
}
input[type]{
     background-color: blanchedalmond;
}
/* pseudo class */

button:hover{
    background-color: mediumvioletred;
    color:black;
}
p:active{
    font-weight: bold;
    color:black
}
input[type="radio"]:checked + label{
    color:rgb(162, 71, 71);
    text-decoration:underline;
}
div:nth-of-type(2n){
   background-color: rgb(167, 124, 206);
}
/*pseudo element */
h1::first-letter{
    color:black;
}
p::first-line{
    color:blue;
}
p::selection{
    background-color: chartreuse;
}