div{
    height:200px;
    width:400px;
    background-color: rgb(132, 151, 202);
    border:2px solid black;
    border-radius:10px;
    padding: 20px;  /* for all side padding*/
    padding:10px 20px 30px 40px;  /*clockwise all side padding*/
    margin:20px;
    margin:10px 20px 30px 40px;
}
h1{
     border:2px dashed grey;
}